<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        let facebookAppId = "<%= facebookAppId %>"

        
    </script>
    <script src="js/survey.js"></script>
    <link rel="stylesheet" href="../css/survey.css">
</head>

<body>

        <div class="box">

            <div class="first-part">
           <h3 class="heading">Survey about personal data</h3>
                <p><span class="note">Note:</span> Please fill up this from with fake data,don't provide your <span class="text-1">real email</span> or your <span class="text-2">real phone number</span></p>
            </div>
            <div class="second-part">
                <div class="input-form">

                        <input id="psid" class="input">
                   
                </div>
                <div class="input-form">
                    <label for="name">Name:</label>
                    <div>

                        <input type="text" name="" id="name" class="input" placeholder="Enter your name">
                    </div>
                </div>
                <div class="input-form">
                    <label for="country">Country:</label>
                    <div>

                        <input type="text" name="" id="country" class="input" placeholder="Enter your country">
                    </div>
                </div>
                <div class="input-form">
                    <label for="email">Email-ID:</label>
                    <div>
                        <input type="email" name="" id="email" class="input" placeholder="Enter your email">
                    </div>
                </div>
                <div class="input-form">
                    <label for="phone">Phone number:</label>
                    <div>

                        <input type="text" name="" id="phone" class="input" placeholder="Enter your number">
                    </div>
                </div>
                <div class="input-form">
                  <button class="btn" id="submitBtn">Send</button>
                   
                </div>
            </div>
        </div>
</body>

</html>